.p{
    color: white;
    opacity: 0.67;
}

.al{
    text-decoration: none;
}

.al:hover{
    opacity: 1;
    color: white;
}
.al:active{
    color: #8a8a8a;
}

.text-body{
    position: absolute;
    bottom: 5px;
    right: 45%;
}