html, body {
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #4e54c8 50%, #16212b 50%);
    z-index: -1;
}

#head{
    display: flex;
}

.auth {
    text-align: right;
    padding: 5px;
    position: absolute;
    right: 10px;
}

.vk{
    display: grid;
    position: relative;
    left: 10px;
    opacity: 0.5;
    font-size: 11px;
    color: white;
    text-shadow: 6px 5px 3px rgb(0,0,0);
    text-align: center;
}

#img{
    width: 40px;
    height: 40px;
    box-shadow: 5px 5px 4px rgb(0,0,0);
    margin-bottom: 3px;
}

#img:hover{
    transform: scale(1.08) perspective(1px);
}

#img:active{
    transform: scale(1.05) perspective(1px);
}

.container {
    max-width: 1170px;
    margin: auto;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    background: linear-gradient(#7f83d7, #4b54be);
    color: #000000;
    margin: 0 5px 0 5px;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 5px 4px rgba(0,0,0,0.5);
    text-shadow: 0 5px 4px rgba(0,0,0,0.5);
    color: #ffffff;
}
.btn:hover{
    transform: scale(1.08) perspective(1px);
    background: white;
    color: #4b54be;
}

.btn:active{
    transform: scale(1.05) perspective(1px);
    background: linear-gradient(#b7b9e1, #8487b7);
    color: white;
}

.hello{
    display: inline-block;
    color: #4e54c8;
    font-size: 42px;
    text-wrap: avoid;
    position: absolute;
    right: 200px;
    top: 270px;
    text-shadow: 0 5px 4px rgba(0,0,0,0.5);
    width: 430px;
    animation: hello-anim 2s;
}

#pc{
    width: 450px;
    margin: 200px 0 0 -150px;
    animation: pc-anim 2s;
}

@keyframes pc-anim {
    0% {
        transform: translateX(-600px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes hello-anim {
    0% {
        transform: translateX(600px);
    }
    100% {
        transform: translateX(0);
    }
}
