body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom left, #16212b 20%, #292a67 50%);
    z-index: -1;
}


.container{
    display: grid;
    width: 100vw;
    height: 100vh;
    place-items: center;
}

.login-form {
    position: absolute;
    top: 30%;
    min-width: 400px;
}

.remembered-checkbox{
    color: white;
}

.lb{
    display: flex;
    justify-content: center;
}

.login-btn{
    width: 125px;
    height: 35px;
    background: linear-gradient(#7f83d7, #4b54be);
    box-shadow: 0 5px 4px rgba(0,0,0,0.5);
    text-shadow: 0 5px 4px rgba(0,0,0,0.5);
    color: #ffffff;
    border: none;
    border-radius: 8px;
}

.login-btn:hover{
    transform: scale(1.08) perspective(1px);
    background: white;
    color: #4b54be;
}

.login-btn:active{
    transform: scale(1.05) perspective(1px);
    background: linear-gradient(#b7b9e1, #8487b7);
    color: white;
}
