body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom left, #20303f 20%, #4f53ad 50%);
    z-index: -1;
}