<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>
    <header id="head">
        <div class="vk">
            <a id="a" href="https://vk.com/tesl1k4k"><img id="img" th:src="@{/images/frog.jpg}"></a>
            <label>Мой VK</label>
        </div>
        <div class="auth">
            <a href="/login" class="btn">Вход</a>
            <a href="/registration" class="btn">Регистрация</a>
        </div>
    </header>

    <div class="container">
        <div class="hello">
            <p>ВАС ПРИВЕТСТВУЕТ TESLER - ПРИЛОЖЕНИЕ ДЛЯ СОЗДАНИЯ И УПРАВЛЕНИЯ ТЕСТАМИ!</p>
        </div>
        <img th:src="@{/images/pc.gif}" id="pc" class="pc_vis">
    </div>

    <div th:insert = "blocks/footer.html :: footer"/>

</body>
</html>