<!DOCTYPE html>

<html>

<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/registration.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/global.css}">
</head>

<body>

    <!--    <div class="container">-->
    <!--        <div  class="login-form">-->
    <!--            <form action="/login" method="post">-->
    <!--                <input type="text" name="email" placeholder="Email" class="form-control mt-2" size="20">-->
    <!--                <input type="password" name="password" placeholder="Password" class="form-control mt-3" size="20">-->
    <!--            </form>-->
    <!--            <label class="remembered-checkbox mt-2">-->
    <!--                <input type="checkbox" name="remembered" style="transform: scale(1.3)">-->
    <!--                <span style="padding-left: 3px">Запомнить</span>-->
    <!--                <span class="checkmark"></span>-->
    <!--            </label>-->
    <!--            <div class="lb">-->
    <!--                <button type="submit" class="login-btn mt-2">Войти</button>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

    <div th:insert = "blocks/footer.html :: footer"/>


</body>

</html>