<div th:fragment = "footer">
    <footer class="text-body">
        <div>
            <p class="p">©2023 <a href="http://kptc.ru/"  class="al p">KPC Inc.</a> by tesL1k</p>
        </div>
    </footer>
</div>